@import 'grid';
.container,.col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md-25, .col-md-26, .col-md-27, .col-md-28, .col-md-29, .col-md-30
{
	height:100%;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.right{text-align:right;}
.left{text-align:left;}
.no-float{clear:both;}
.img-circle{border-radius:50%;width:100%;}

body {
	font-family: 'Ubuntu', sans-serif;
	background:#fdfdfd;
	margin:0;
	padding:0;
}