@import 'grid.css';
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,
.container,.container-fluid{
	height:100%;
}
.blue{
	background:blue;
}
.default{
	color:#828282 !important;
	background:gainsboro !important;
	transition:.3s;
	cursor:pointer;
	&:hover{
		background:#c3c3c3 !important;
	}
}
.red{
	background: #f3dada !important;
	color: #bf9393 !important;
	transition:.3s;
	&:hover{
		background: #debebe !important;
		cursor:pointer;
	}
}
.green{
	background:green;
}
.line-space{
	margin-bottom:30px;
	&.with-line{
		border-top: 1px solid #f1f0f0;
		padding-top: 19px;
	}
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
body,html{
	height:100%;
	margin:0;padding:0;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}
.none{
	padding-right:0;
	padding-left:0;
}

.text-center{
	text-align: center;
}

.page-body{
	width: 100%;
	padding-top: 40px;
	padding-left: 260px;
	height:100vh
}

.typical-body{
	color:#dadada;
	height:100%;
	background:#f5f5f5;
	.title{
		color:#b5b4b4;
		font-size: 21px;
		padding: 30px 15px;
		i{
			padding-right:5px;
		}
	}
	.input{
		label{
			display:block;
			padding-bottom:10px;
		}
		input[type=text],select,textarea{
			width: 100%;
			color:#9e9e9e;
			outline: 0;
			padding: 5px;
			border: 1px solid #efefef;
			border-radius: 4px;
		}
		textarea{height:70px;}
	}
	table{
		background: #daeaff;
		color: #8ebad4;
		width: 100%;
		text-align: left;
		margin-top: 10px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 2px;
	}
	.btn-opts{
		padding-top:15px;
		i{
			font-size: 13px;
			display: block;
			text-align: center;
			background: gainsboro;
			border-radius: 50%;
			height: 35px;
			width: 35px;
			line-height: 2.7em;
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
}